.btn.btn-primary {
    color: #000;
}
#content #error-page {
    text-align: center;
}
body{
    font-family: 'Noto Sans TC', sans-serif;
}
/* #ftco-navbar .container #ftco-nav {
	font-size: 50px;
} */
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
	font-size: 16px;
}
.owl-carousel.home-slider .slider-item .slider-text h1{
    font-family: 'Noto Sans TC', sans-serif;
}
